<DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8"/>
        <title>KKFF Tickets</title>
        <link href="style.css" rel="stylesheet"/>
        <link href="/static/style.css" rel="stylesheet"/>
    </head>

    <body>

    <div class="page-header"><h1 style="text-color:white">KuylKamp Family Festival Tickets</h1></div>

    <div class="container">
      {% block container %}{% endblock %}
    </div>
    <br/>
    <div id="footer">
        (c) Alexicoo 2019
    </div>


    </body>

</html>



