{% extends 'base.html' %}

{% block container %}


    <div id="main">
    <h2>Bestel uw tickets</h2>
    <div>
        <form action="" method="POST">
            <table align="center">
                <tr><th>Ticketnaam</th><th>Prijs</th><th>Aantal</th></tr>

                <tr><td></td><td></td><td></td></tr> <!-- empty line -->


                {% if rows !="EMPTY" %}
                    {% for row in rows %}
                        <tr>
                            <td>{{ row[1] }}</td>
                            <td class="align_right" >€{{ row[2] }}0</td>
                            <td class="align_center"><input class="align_center" type="number" name="{{row[0]}}" min="0" max="20" placeholder="0" value="0"/></td>
                        </tr>
                    {% endfor %}
                {% endif %}

                <tr><td></td><td></td></td></tr> <!-- empty line -->
                <tr><td></td><td></td><td><input type="submit" value="Bestellen"/></td>
            </table>
        </form>
        <p>{{bericht}}</p>
    </div>

    </div>

{% endblock %}

