{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <BR/>
    <H1>Registratie</H1>
    <BR/>
    Vul de informatie in, zodat wij uw tickets toe kunnen sturen en klik op <b>OK</b><BR/>
    <BR/>

    <form action="/registreer" method="post">
        <div class="form-group">
            <input class="form-control" name="Voornaam" placeholder="Voornaam" type="text" required autofocus/>
        </div>
        <div class="form-group">
            <input class="form-control" name="TV" placeholder="tussenvoegsel" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="Achternaam" placeholder="Achternaam" type="text" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="Email" placeholder="emailadres" type="email" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="TelNr" placeholder="telefoonnummer" type="number" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="WhereDidYouFindUs" placeholder="Waar hoorde u voor het eerst van het KuylKamp Festival ? " type="text"/>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">OK</button>
    </form>
{% endblock %}
