{% extends 'base.html' %}

{% block container %}


    <div id="main">
    <h2>Betaling voltooid</h2>
        <div>
            <p>Uw tickets worden per mail verzonden.</p>
            <p>Gelieve deze tickets uit te printen en mee te nemen naar het festival.</p>
            <div class="align_center">
                <form action="https://kkff.pythonanywhere.com">
                    <input type="submit" value="OK"/>
                </form>
            </div>
        </div>

    </div>

{% endblock %}