{% extends 'base_admin.html' %}

{% block container %}



    <div id="main">

        <div class="align_center largerText">


        <a target="_blank" href="https://www.pythonanywhere.com/user/kkff/files/var/log/kkff.pythonanywhere.com.error.log"><button class="btn"><i class="fa fa-file-text-o"></i> Error-log</button></a>
        <a target="_blank" href="https://www.mollie.com/dashboard/statistics?interval=week"><button class="btn"><i class="fa fa-area-chart"></i> Statistieken</button></a>
        <a target="_blank" href="https://kkff.pythonanywhere.com/bezoekers"><button class="btn"><i class="fa fa-area-chart"></i> Bezoekersaantallen</button></a>
        <a target="_blank" href="https://kkff.pythonanywhere.com/riet"><button class="btn"><i class="fa fa-user-circle"></i> Riet-module</button></a>
        <a target="_blank" href="https://kkff.pythonanywhere.com/acceptByOrderNr"><button class="btn"><i class="fa fa-search"></i> Accept By OrderNr</button></a>

        </div>

    </div>

{% endblock %}

