{% extends 'base_admin.html' %}

{% block container %}



    <div id="main">

        <div class="align_center largerText">


        <a target="_blank" href="https://www.pythonanywhere.com/user/kkff/files/var/log/kkff.pythonanywhere.com.error.log"><button class="btn"><i class="fa fa-file-text-o"></i> PythonAnywhere error-log</button></a>
        <a target="_blank" href="/static/underconstruction.html"><button class="btn"><i class="fa fa-area-chart"></i> Statistieken</button></a>
        <a target="_blank" href="https://kkff.pythonanywhere.com/bezoekers"><button class="btn"><i class="fa fa-area-chart"></i> Bezoekersaantallen</button></a>
        <a target="_blank" href="https://kkff.pythonanywhere.com/riet"><button class="btn"><i class="fa fa-user-circle"></i> Riet-module</button></a>

        </div>

    </div>

{% endblock %}

