{% extends 'base_admin.html' %}

{% block container %}


    <div id="main">
    <h2>Admin - omgeving - Tools</h2>
    <div class="align_center">
     <p><a href="https://www.pythonanywhere.com/user/kkff/files/var/log/kkff.pythonanywhere.com.error.log">Error-log</a></p>
     <p><a href="LINK">stats</a></p>
     <p><a href="https://kkff.pythonanywhere.com/bezoekers">guestCount</a></p>
     <p><a href="https://kkff.pythonanywhere.nl/riet">Riet-module</a></p>

    </div>
        <p></p>
    </div>

{% endblock %}

